@import url('https://fonts.googleapis.com/css2? family= Oswald & display=swap');


*{
	padding: 0px;
	margin: 0px;
}
Button{
	border-radius:50%;
	padding:20px;
	border-style: solid;
	background-color: green;
	border-width:2px;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
}
#result{
	color: white;
	font-family: 'Oswald', sans-serif;
font-size: 50px;
}
body{
background: rgb(101,221,0);
background: linear-gradient(180deg, rgba(101,221,0,0.2) 0%, rgba(255,255,255,1) 50%, rgba(245,255,0,0.2) 100%);
}
p{
font-family: 'Oswald', sans-serif;
font-size: 20px;
Color: White;
}
h1{
	font-family: 'Oswald', sans-serif;
font-size: 30px;
Color: White;
}
h3{
		font-family: 'Oswald', sans-serif;
font-size: 25px;
Color: White;
}
nav{
	background-color: Green;
}
ul{
	padding: 10px;
	display: flex;
	justify-content: space-around;
}
li{
	list-style-type: none;
	transition-duration:1s;
}
li:Hover{
	background-color: White;
	padding: 10px;
}
a{
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 20px;
	text-decoration: none;
	transition-duration:1s;
}
a:Hover{
	color: Black;
	font-size: 25px;
}
#GPhoto{
	height: 850px;
background-image: Url(изображение_viber_2022-03-11_17-11-55-210.jpg)
}
.Ptext{
padding-top: 300px;
align-items: center;
text-align: right;
margin-right: 50px;
}
.Ptext h1{
font-family: 'Oswald', sans-serif;
font-size: 75px;
Color: White;
}
.Ptext p{
font-family: 'Oswald', sans-serif;
font-size: 30px;
Color: White;
}
#ProCl{
	display: flex;
	justify-content: center;
}
.ProC{
	padding: 50px;
	display:flex;
	align-items: center;
}
.RTx{
font-family: 'Oswald', sans-serif;
font-size: 45px;
Color: White;
	background-color: grey;
	padding: 20px;
}
.RPh img{
	border-radius: 50%;
}
.TextCust{
font-family: 'Oswald', sans-serif;
font-size: 40px;
Color: Black;
padding-bottom: 20px;
}
.TextCust2{
font-family: 'Oswald', sans-serif;
font-size: 20px;
Color: White;
padding-bottom: 20px;
}
.TextCust3{
font-family: 'Oswald', sans-serif;
font-size: 40px;
Color: White;
padding-bottom: 20px;
}
.Media{
	display: flex;
	Justify-content: space-around;
}
.Media Img{
	border-radius:50%;
}
.Ptext{
	Display:flex;
	flex-direction:row-reverse;
}
#Social{
	padding-bottom:50px;
}
#footer{
	background-color: Yellow;
	Display: flex;
	Justify-content: space-around;
}
#footer h1{
	color: black;
}
#Roz{
	display:flex;
	text-align: center;
	justify-content: center;
}
/* сделает ширину таблицы равной ширине блока контейнера, в котором она находится */
table {
   border: 2px solid grey;
   width: 100%;
   margin: 30px;
}
/* задаст фиксированную ширину для таблицы */
table {
	margin-bottom: 100px;
	font-family: 'Oswald', sans-serif;
   width: 600px;
   padding:10px;
}
th{
	font-size: 40px;
	padding-right: 40px;
}
td{
	font-size: 30px;
	padding-right: 40px;
}



.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
	background-color: black;
	-webkit-box-shadow: -1px 5px 95px 41px rgba(0, 101, 12, 0.2);
-moz-box-shadow: -1px 5px 95px 41px rgba(0, 101, 12, 0.2);
box-shadow: -1px 5px 95px 41px rgba(0, 101, 12, 0.2);
    box-shadow: 0 0 7px #666; /* Параметры тени */
}
.modal-header {
    color: white;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
	color: white;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
	background-color: grey;
	background: rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: -1px 5px 95px 41px rgba(0, 101, 12, 0.2);
-moz-box-shadow: -1px 5px 95px 41px rgba(0, 101, 12, 0.2);
box-shadow: -1px 5px 95px 41px rgba(0, 101, 12, 0.2);
    box-shadow: 0 0 7px #666; /* Параметры тени */
}
.modal-body {
  color: white;
}
#HD{
	display: flex;
	Justify-content: space-around;
	padding-bottom: 30px;
}
#DH{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(0, 0, 0, 0.8);
	transition-duration: .5s;
}
#DH:hover{
	display: flex;
	flex-direction: column;
	align-items: center;
		background: rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: -1px 5px 95px 41px rgba(0, 101, 12, 0.2);
-moz-box-shadow: -1px 5px 95px 41px rgba(0, 101, 12, 0.2);
box-shadow: -1px 5px 95px 41px rgba(0, 101, 12, 0.2);
}
#DH a{
font-size: 30px;
transition-duration: .5s;
}
#DH a:Hover{
font-size: 30px;
color: red;
}
#W h2{
	background: rgba(0, 0, 0, 0.8);
	padding: 20px;
	color: white;
	transition-duration: 3s;
}
#W h2:Hover{
	background: rgba(0, 0, 0, 0.8);
	padding: 20px;
	color: white;
}
#Last{
	background-color: black;
}
#page_up_down_button {
    position: sticky;
    bottom: 0;
	Display: Flex;
	Justify-content: flex-end;
}



.slider {
  position: relative;
  width: 680px;
  margin: 50px auto;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  position: absolute;
  left: 0;
  bottom: -40px;
  text-align: center;
  width: 100%;
}

.switch label {
  display: inline-block;
  width: 50px;
  height: 20px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  border-radius: 0%;
  border: 5px solid Green;
  background-color: Yellow;
}

#btn1:checked~.switch label[for="btn1"] {
  background-color: white;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: white;
}

#btn3:checked~.switch label[for="btn3"] {
  background-color: white;
}
#btn4:checked~.switch label[for="btn4"] {
  background-color: white;
}
#btn5:checked~.switch label[for="btn5"] {
  background-color: white;
}
.slider-inner {
  overflow: hidden;
}

.slides {
  width: 300%;
  transition: all 0.5s;
}

.slides img {
  width: 680px;
  height: 440px;
  float: left;
}

#btn1:checked~slider-inner slides {
  transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
  transform: translate(-680px);
}

#btn3:checked~.slider-inner .slides {
  transform: translate(-1360px);
}

#btn4:checked~slider-inner slides {
  transform: translate(0);
}

#btn5:checked~.slider-inner .slides {
  transform: translate(-680px);
}